* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gilroy;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  overflow-x: hidden;
}
section {
  height: 100%;
  width: 100%;
  position: relative;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px 100px;
}
.part2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
}
nav h1 {
  font-size: 50px;
}
nav h1 i {
  rotate: 45deg;
  display: inline-block;
}
nav h4 {
  font-size: 25px;
  font-weight: 500;
}
nav button {
  padding: 18px 30px;
  font-size: 30px;
  border-radius: 5px;
  border: 1px solid black;
  background-color: transparent;
  border-radius: 10px;
}
.center {
  padding: 60px 100px;
  height: 70%;
  width: 100%;
  display: flex;
}
.center-part1 {
  height: 90%;
  width: 40%;
}
.center-part1 h1 {
  font-size: 100px;
  line-height: 1.2;
}
.center-part1 p {
  font-size: 30px;
  width: 95%;
  margin-top: 20px;
  margin-bottom: 30px;
}
.center-part1 button {
  background-color: black;
  color: white;
  padding: 22px 40px;
  font-size: 25px;
  font-weight: 600;
  border: none;
  border-radius: 10px;
}
.center-part2 {
  height: 100%;
  width: 60%;
  position: relative;
}
.center-part2 img {
  height: 100%;
  position: absolute;
  right: 0;
}
.section1bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 120px;
 
}
.section1bottom img {
  height: 60px;
}
.section2 .services {
  padding: 40px 120px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  margin-top: 80px;
}
.services h3 {
  background-color: #bbff5b;
  font-weight: 500;
  padding: 5px 10px 0 10px;
  border-radius: 5px;
  font-size: 60px;
}
.services p {
  width: 40%;
  font-size: 20px;
  font-weight: 500;
}
.container {
  height: 86%;
  width: 100%;
  padding: 40px 120px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.elem {
  flex-shrink: 0;
  display: flex;
  height: 400px;
  width: 45%;
  border: 2px solid black;
  border-radius: 30px;
  box-shadow: 0px 15px 0px black;
  padding: 60px;
}
.elem-part1 {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}
.elem-part2 {
  height: 100%;
  width: 50%;
}
.elem-part2 img {
  height: 100%;
}
.elem-part1 h2 {
  font-size: 45px;
  font-weight: 500;
  background-color: #bbff5b;
  width: 70%;
  padding: 0px 5px;
  border-radius: 10px;
}
.elem-part1 h4 {
  display: flex;
  align-items: center;
  font-size: 30px;
  font-weight: 500;
  gap: 20px;
}
.elem-part1 h4 i {
  padding: 20px;
  background-color: black;
  color: white;
  border-radius: 50%;
}
.black {
  background-color: black;
}
.elems-part1 {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}
.elems-part1 h2 {
  font-size: 45px;
  font-weight: 500;
  background-color: white;
  width: 70%;
  padding: 0px 5px;
  border-radius: 10px;
}
.elems-part1 h4 {
  display: flex;
  align-items: center;
  font-size: 30px;
  font-weight: 500;
  gap: 20px;
  color: white;
}
.elems-part1 h4 i {
  padding: 20px;
  background-color: white;
  color: black;
  border-radius: 50%;
}
.elems-part2 {
  height: 100%;
  width: 50%;
}
.elems-part2 img {
  height: 100%;
}

/* #box {
  background-color: red;
  height: 300px;
  width: 300px;
} */
/* website */
/* #nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 50px;
  background-color: antiquewhite;
}
ul {
  display: flex;
  list-style: none;
  gap: 50px;
  font-size: larger;
}
h3 {
  position: absolute;
  top: 50%;
  left: 20%;
white-space: nowrap;
  font-size: 50px;
} */
/* boxes */
/* #boxes{
    display: flex;
   justify-content: space-evenly;
    padding: 30px 20px;
}
#box1{
    height: 50px;
    width: 50px;
    background-color: crimson;
}
#box2{
    height: 50px;
    width: 50px;
    background-color: aquamarine;
}
#box3{
    height: 50px;
    width: 50px;
    background-color: plum;
}
#box4{
    height: 50px;
    width: 50px;
    background-color: peru;
}
#box5{
    height: 50px;
    width: 50px;
    background-color: powderblue;
}
#box6{
    height: 50px;
    width: 50px;
    background-color: palevioletred;
}
#box7{
    height: 50px;
    width: 50px;
    background-color: violet;
}
#box8{
    height: 50px;
    width: 50px;
    background-color: rosybrown;
} */

/* pages */
/* body{
    overflow-x: hidden;
}
#page1 {
  background-color: black;
  height: 100vh;
  width: 100%;
}

#page2 {
  background-color: powderblue;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


#page3 {
  background-color: black;
  height: 100vh;
  width: 100%;
}
#page3 h1 {
  font-size: 40vw;
  text-transform: uppercase;
}
.box{
    background-color: crimson;
    height:100px;
    width: 100px;
} */

/* #boxes{
display: flex;
flex-direction: column;
gap:8px;
padding: 20px;
}
#box1{
    background-color: crimson;
    height:100px;
    width: 100px;
}
#box2{
    background-color: crimson;
    height:100px;
    width: 100px;
}
#box3{
    background-color: crimson;
    height:100px;
    width: 100px;
}
#box4{
    background-color: crimson;
    height:100px;
    width: 100px;
} */

/* #string{
    background-color: black;
} */
/* timeline animation */
/* body {
  overflow-x: hidden;
}
#page1 {
  background-image: url(https://t4.ftcdn.net/jpg/06/91/87/05/360_F_691870556_tccTWjV54NHaG201lGlLGZtCVLxRnrvT.jpg);
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
}
#page1 #nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 40px;
  color: white;
}
#nav i {
  font-size: 40px;
  cursor: pointer;
}
#full {
  height: 100%;
  width: 40%;
  position: absolute;
  background-color: rgba(237, 231, 231, 0.39);
  top: 0;
  right: -40%;
  backdrop-filter: blur(10px);
}
#full h4 {
  font-size: larger;
  padding: 30px 40px;
}
#full i {
  position: absolute;
  top: 2px;
  right: 0;
  padding: 10px;
  cursor: pointer;
} */
/* suchitra */
/* body{
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
h1{
  font-size: 100px;
  overflow: hidden;
}
h1 span{
  display: inline-block;
} */
/* #page1,
#page2,
#page3 {
  height: 100vh;
  width: 100%;
  background-color: black;
}
#move {
  background-color: #D9FF06;
  display:flex;
  align-items: center;
  gap: 4;
  overflow: hidden;
}
.masque {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4vh;
  padding: 0 1.5px;
  flex-shrink: 0;
  transform: translateX(-100%);
  /* background-color: red; */
/* }
.masque h1 {
  font-size: 70px;
}
.masque img {
  height: 5vh;
} */
